body {
    margin: 2rem 0;
    background-color: $bg-color;
    font-family: $font;
    color: $text-color;
}

.row {
    > .xs-12.sm-6 {
        &:last-of-type {
            margin-top: 2rem;

            @media (min-width: 768px) {
                margin-top: 0;
            }
        }
    }
}

h1 {
    margin: 0 0 2rem;
}

h3 {
    margin: 0 0 1rem;
}

a {
    color: $color-blue;

    @include hover-state {
        color: darken($color-blue, 10%);
    }
}

p {
    margin: 0;
}

.section-title {
    text-align: center;
}

footer {
    margin-top: 2rem;
    text-align: center;
}


.population-low {
    color: $color-blue;
}

.population-medium {
    color: $color-green;
}

.population-high {
    color: $color-yellow;
}

.population-veryhigh {
    color: $color-orange;
}

.population-full {
    color: $color-red;
}
